
<% include templates/header.ejs %>
<main>
    <article>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="intro-text">
                            <span class="name">Check Your Eligibility</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Check eligibility to join the program.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 pull-right">
                    <figure>
                        <img class="img img-responsive side-image" style="width:50%; height: 50%;" src="/img/calculator.png">
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-7 pull-left">
                    <p>Fill the below info submit your application!</p>
                    <form action="/submit" method="POST">
                        <dl>
                            <dt><label for="name">Name</label></dt>
                            <dd><input type="text" id="name" name="name" /></dd>
                            <dt><label for="email">Email</label></dt>
                            <dd><input type="text" id="email" name="email" /></dd>
                            <dt><label for="phone">Phone</label></dt>
                            <dd><input type="text" id="phone" name="phone" /></dd>
                            <dt><label for="address">Address</label></dt>
                            <dd><input type="text" id="address" name="address" /></dd>
                            <dt><label for="city">City</label></dt>
                            <dd><input type="text" id="city" name="city" /></dd>
                            <dt><label for="state">State</label></dt>
                            <dd><input type="text" id="state" name="state" /></dd>
                            <dt><label for="zip">Zip</label></dt>
                            <dd><input type="text" id="zip" name="zip" /></dd>
                            <dt><label for="totalIncome">Total Annual Household Income</label></dt>
                            <dd><input type="number" id="totalIncome" name="totalIncome" /></dd>

                            <input type="checkbox" name="selectedApp1" value="AffordableHousing_Application sales-Fields.pdf">
                            <label>Affordable Housing Sales</label>
                            <input type="checkbox" name="selectedApp2" value="Application-GF-Fields.pdf">
                            <label>GF</label>
                            <input type="checkbox" name="selectedApp3" value="Application-PCV-Fields.pdf">
                            <label>PCV</label>
                            <input type="checkbox" name="selectedApp4" value="Avalon Princeton - Preliminary Application Rev-Mar-2016-Fields.pdf">
                            <label>Avalon</label>
                        </dl>
                        <input class="btn btn-princeton" href="/success" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </section>
    </main>
  <% include templates/footer.ejs %>
