<form method="POST" action="/pdf"> Name:<input name="name" type="text"/>
  Phone:<input name="phone" type="text"/>
  Email:<input name="email" type="text"/>
  <input type="submit" value="submit"/>
</form>
