<% include templates/header.ejs %>
 <main>
     <article>
         <!-- Header -->
         <header>
             <div class="container">
                 <div class="row">
                     <div class="col-xs-12 col-sm-12">
                         <div class="intro-text">
                             <span class="name">Affordable Housing Program</span>
                             <span class="skills">Princeton, New Jersey</span>
                         </div>
                     </div>
                 </div>
             </div>
         </header>
         <section>
             <div class="row">
                 <div class="col-xs-12 col-sm-12">
                    <h2>Affordable Housing in Princeton</h2>
                 </div>
             </div>
             <div class="row">
                 <div class="col-xs-12 col-sm-12 capabilities">
                    <p>Using this platform, you will be able to</p>
                     <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                         <img src="http://placehold.it/200x200">
                         <p class="eligibility-check">Check to see if you are eligible to apply for affordable housing</p>
                     </div>
                     <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                         <img src="http://placehold.it/200x200">
                         <p class="application-check">Apply for Princeton's affordable housing program</p>
                     </div>
                     <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                         <img src="http://placehold.it/200x200">
                         <p class="print-check">Print the required forms with your information to apply for affordable housing</p>
                     </div>
                     <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                         <img src="http://placehold.it/200x200">
                         <p class="status-check">Check the status of your application</p>
                     </div>
                 </div>
                    <!--<ul class="capabilities">-->
                        <!--<li><i class="fa fa-check-square-o"></i> Check if you are eligible to apply for housing using the "Affordable Housing Program @ Princeton"-->
                        <!--</li>-->
                        <!--<li><i class="fa fa-check-square-o"></i> Apply for affordable Housing Program </li>-->
                        <!--<li><i class="fa fa-check-square-o"></i> Print generated forms with filled in information for afordable housing-->
                        <!--</li>-->
                        <!--<li><i class="fa fa-check-square-o"></i> Check your status of application </li>-->
                    <!--</ul>-->
                <!--</div>-->
             </div>
             <div class="row">
                <div class="col-sm-12 text-center">
                    <a class="btn btn-princeton" href="./qualify">Check Eligibility</a>
                </div>
             </div>
         </section>
     </article>
 </main>
<% include templates/footer.ejs %>