
<% include templates/header.ejs %>
<main>
    <article>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="intro-text">
                            <span class="name">Check Your Eligibility</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Check eligibility to join the program.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 pull-right">
                    <figure>
                        <img class="img img-responsive side-image" src="http://placehold.it/300x300">
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-7 pull-left">
                    <p>Fill the below info to check if you are qualified to join the program!</p>
                    <form action="/qualify" method="POST">
                        <dl>
                            <dt><label for="first_name">First Name</label></dt>
                            <dd><input type="text" id="first_name" name="first_name" /></dd>
                            <dt><label for="last_name">Last Name</label></dt>
                            <dd><input type="text" id="last_name" name="last_name" /></dd>
                            <dt><label for="total_household">Number of people in Household</label></dt>
                            <dd><input type="number" id="total_household" name="total_household" /></dd>
                            <dt><label for="total_salary">Total Annual Salary for the household</label></dt>
                            <dd><input type="number" id="total_salary" name="total_salary" /></dd>
                        </dl>
                        <input class="btn btn-princeton" href="./qualify" type="submit" value="Check My Eligibility">
                    </form>
                </div>
            </div>
        </section>
    </main>
  <% include templates/footer.ejs %>
