<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
    crossorigin="anonymous">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous">
    </script>



<script src="http://code.jquery.com/jquery-1.9.0.js"></script>

<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>



  </head>
  <body>
  <% include templates/header.ejs %>
<p>
<h1> Check eligibility to join the program. </h1>
<p>

    <div>
      Are you eligible to participate in the affordable housing program?
      </div>
      <div> Fill the below info to check if you are qualified to join the program!
    </div>

       <hr>

<form action="/post" method="POST">
<div class="container">
    <div>
      <label>First Name:</label>
      <input type="text" name="txtFirstName" placeholder="Enter first name here">
    </div>
<p>

    <div>
      <label>Last Name:</label>
      <input type="text" name="txtLastName" placeholder="Enter last name here">
    </div>
<p>
        <div>
          <label>Number of people in Household:</label>
          <input type="text" name="numHhold" placeholder="Enter number of people in your household here">
        </div>
<p>
        <div>
          <label>Total Annual Salary for the household:</label>
          <input type="text" name="numSalary" placeholder="Enter annual salary here">
        </div>
<p>

</div>


<input type="submit" value="Submit">
</form>
  </body>
</html>
