<% include templates/header.ejs %>
<main>
    <article>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="intro-text">
                            <span class="name"> Form Submission</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="row">
					<h1> </h1> 
			</div>
        </section>
         <section>
            <div class="row">
                <div class="col-xs-12">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-7 pull-left">
                     <h2>Congratulations!!!</h2>
                    <br/><br/><br/>

                    <h3> Your form was submitted successfully!! We will process your information and get back to you. If you have any questions you can contact us at 609-688-2029</h3> 
                </div>
                <div class="col-xs-12 col-sm-5 pull-right">
                    <figure>
                  
                        <img class="img img-responsive side-image" style="width:50%; height: 50%;" src="/img/check.png">
                    
                    </figure>
                </div>
                
                
                </div>
            </div>
        </section>
    </main>
  <% include templates/footer.ejs %>
