<dl>
	<dt><label for="creditCardName1">creditCardName1</label></dt>
	<dd><input type="text" id="creditCardName1" name="creditCardName1" /></dd>
	<dt><label for="lastPaymentDate1">lastPaymentDate1</label></dt>
	<dd><input type="text" id="lastPaymentDate1" name="lastPaymentDate1" /></dd>
	<dt><label for="lenderName1">lenderName1</label></dt>
	<dd><input type="text" id="lenderName1" name="lenderName1" /></dd>
	<dt><label for="loanBalance1">loanBalance1</label></dt>
	<dd><input type="text" id="loanBalance1" name="loanBalance1" /></dd>
	<dt><label for="loanType1">loanType1</label></dt>
	<dd><input type="text" id="loanType1" name="loanType1" /></dd>
</dl>