<dl>
	<dt><label for="assetAccountType1">assetAccountType1</label></dt>
	<dd><input type="text" id="assetAccountType1" name="assetAccountType1" /></dd>
	<dt><label for="assetAmount1">assetAmount1</label></dt>
	<dd><input type="text" id="assetAmount1" name="assetAmount1" /></dd>
	<dt><label for="extraIncomeAmount1">extraIncomeAmount1</label></dt>
	<dd><input type="text" id="extraIncomeAmount1" name="extraIncomeAmount1" /></dd>
	<dt><label for="extraIncomeFrequency1">extraIncomeFrequency1</label></dt>
	<dd><input type="text" id="extraIncomeFrequency1" name="extraIncomeFrequency1" /></dd>
	<dt><label for="memberGrossAnnualIncome1">memberGrossAnnualIncome1</label></dt>
	<dd><input type="text" id="memberGrossAnnualIncome1" name="memberGrossAnnualIncome1" /></dd>
	<dt><label for="totalHouseholdAnnualIncome">totalHouseholdAnnualIncome</label></dt>
	<dd><input type="text" id="totalHouseholdAnnualIncome" name="totalHouseholdAnnualIncome" /></dd>
</dl>