<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href='./'> Home </a> |
  <a href='./about'> About </a> |
  <a href='./qualify'> Check Eligibility </a> |
  <a href=#> Apply </a> |
  <a href=#> Help </a> |
  <a href=#> Forms </a> |
  <a href=#> Contact </a>

  </body>
</html>